<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bi2i Sports Week 2020</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="./styles.css" />
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
		<!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->


	</head>
	<body>
		<!-- <img id='back_img' src="./background.jpg"> -->
		<div class="container-fluid" id='main_div'>

			<div class="row" id='content_row'>

				<div class="col-sm-4" id='PIC_DIV'>
					<div id='gallery_div'>
							<!-- <div id='gallery_title_div' style="text-align: center;">
								<span id='gallery_title' style="margin-top: 10px;">Gallery</span>
							</div> -->

					<div id='picture_div'>
						<img id='picture' src="./img1.jpg" alt="Cinque Terre">
					</div>
					</div>
				</div>

					<div class="col-sm-8" id='CONT_DIV'>
						<div id='content_div'>

							<div id='bulletin_div' style="text-align: center; background-color: #373737;">
							  <span id='bulletin_title' style="font-size: 40px; color: black; font-weight: bold;"><span style="color: #30BAB2;">Sports</span> <span style="color: #98C93C;">Week</span> <span style="color: #379344;">2020</span></span>
							</div>


							<!-- <div id='bulletin_div' style="text-align: center;">
								<span id='bulletin_title' style="margin-top: 5px; font-size: 40px; ">Sports Week 2020</span>
							</div> -->
							<div class='row' id='news_div'>

									<div class="col-sm-3" id='past_div'>
										<div id='past'>
											<div class='row' id='past_teams'>
											  <div class="col-sm-5" id='past_team1_div'>
											    <img id='past_team1_logo' src="titan.svg" alt="" / style="height: 100px; width: 100px" >
											  </div>
											  <div class="col-sm-2" id='vs_past_div'>
											    <span id='past_vs_content'>vs</span>
											  </div>
											  <div class="col-sm-5" id='past_team2_div'>
											    <img id='past_team2_logo' src="groot.svg" alt="" / style="height: 100px; width: 100px" >
											  </div>
											</div>

											<div class='row' id='past_venue'>
												<div class="col-sm-6" id='past_team1_score_div'>
													<span id='past_team1_score_content'>Time</span>
												</div>
												<div class="col-sm-6" id='past_team2_score_div'>
													<span id='past_team2_score_content'>Venue</span>
												</div>
											</div>


											<div class='row' id='past_sport'>
											  <div class="col-sm-12" id='past_sport_div'>
											    <span id='past_sport_content'>Sport</span>
											  </div>
											</div>
											<div class='row' id='past_event'>
											  <div class="col-sm-12" id='past_event_div'>
											    <span id='past_event_content'>Event</span>
											  </div>
											</div>
											<div class='row' id='past_stage'>
											  <div class="col-sm-12" id='past_stage_div'>
											    <span id='past_stage_content'>Stage</span>
											  </div>
											</div>

										</div>
									</div>

									<div class="col-sm-6" id='present_div'>
										<div id='present'>
											<div class='row' id='present_teams'>
												<div class="col-sm-5" id='present_team1_div'>
													<img id='present_team1_logo' src="titan.svg" alt="" / style="height: 200px; width: 200px" >
												</div>
												<div class="col-sm-2" id='vs_present_div'>
													<span id='present_vs_content'>vs</span>
												</div>
												<div class="col-sm-5" id='present_team2_div'>
													<img id='present_team2_logo' src="groot.svg" alt="" / style="height: 200px; width: 200px" >
												</div>
											</div>

											<div class='row' id='present_sport'>
												<div class="col-sm-12" id='present_sport_div'>
													<span id='present_sport_content'>Sport</span>
												</div>
											</div>
											<div class='row' id='present_event'>
												<div class="col-sm-12" id='present_event_div'>
													<span id='present_event_content'>Event</span>
												</div>
											</div>
											<div class='row' id='present_stage'>
												<div class="col-sm-12" id='present_stage_div'>
													<span id='present_stage_content'>Stage</span>
												</div>
											</div>

											<div class='row' id='present_venue'>
												<div class="col-sm-6" id='present_time_div'>
													<span id='present_time_content'>Time</span>
												</div>
												<div class="col-sm-6" id='present_venue_div'>
													<span id='present_venue_content'>Venue</span>
												</div>
											</div>

										</div>
									</div>

									<div class="col-sm-3" id='future_div'>
										<div id='future'>
										  <div class='row' id='future_teams'>
										    <div class="col-sm-5" id='future_team1_div'>
										      <img id='future_team1_logo' src="titan.svg" alt="" / style="height: 100px; width: 100px" >
										    </div>
										    <div class="col-sm-2" id='vs_future_div'>
										      <span id='future_vs_content'>vs</span>
										    </div>
										    <div class="col-sm-5" id='future_team2_div'>
										      <img id='future_team2_logo' src="groot.svg" alt="" / style="height: 100px; width: 100px" >
										    </div>
										  </div>

										  <div class='row' id='future_venue'>
										    <div class="col-sm-6" id='future_team1_score_div'>
										      <span id='future_team1_score_content'>Time</span>
										    </div>
										    <div class="col-sm-6" id='future_team2_score_div'>
										      <span id='future_team2_score_content'>Venue</span>
										    </div>
										  </div>


										  <div class='row' id='future_sport'>
										    <div class="col-sm-12" id='future_sport_div'>
										      <span id='future_sport_content'>Sport</span>
										    </div>
										  </div>
										  <div class='row' id='future_event'>
										    <div class="col-sm-12" id='future_event_div'>
										      <span id='future_event_content'>Event</span>
										    </div>
										  </div>
										  <div class='row' id='future_stage'>
										    <div class="col-sm-12" id='future_stage_div'>
										      <span id='future_stage_content'>Stage</span>
										    </div>
										  </div>

										</div>
									</div>
							</div>


								<!-- <ul>
								  <li id='news1'>Coffee</li>
								  <li id='news2'>Tea</li>
								  <li id='news3'>Milk</li>
									<li id='news4'>Coffee</li>
									<li id='news5'>Coffee</li>
								</ul>
							</div> -->

							<div id='trend_title_div' style="text-align: center;">
								<span id='trend_title'>Is your team leading?</span>
							</div>

							<div id='trend_chart'></div>

						</div>
					</div>
		</div>

		<div class="row" id='bi2i_logo_row'>
			<div class="col-sm-12" id='bi2i_logo_div'>
			</div>
		</div>


<script type='text/javascript' src='./app.js'></script>
<script type='text/javascript' src='./trend_chart.js'></script>
<script type='text/javascript' src='./bulletin.js'></script>
<script type='text/javascript' src='./bi2i_logo.js'></script>
<script type='text/javascript' src='./daily_circle.js'></script>
<script type='text/javascript' src='./func.js'></script>
</html>
